name: Backend Service

on:
  push:
    paths:
      - 'backend-service/**'
  workflow_dispatch: { }

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: backend-service/go.mod

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build amd64
        run: GOARCH=amd64 GOOS=linux go build -o backend-service-amd64 -v ./...
        working-directory: ./backend-service/

      - name: Build arm64
        run: GOARCH=arm64 GOOS=linux go build -o backend-service-arm64 -v ./...
        working-directory: ./backend-service/

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/seclab-backend-service:latest
          context: ./backend-service/
